.wrapper {
    position: relative;
}

#menu-container{
    font-size: 20px;
    width:100%;
    background-color: #d6dbdb;
}


#menu-container div{
    display:inline-block;
    width:130px;
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    color: var(--dark-color-a);
    border: 0;
    font-size: 25px;
    display: inline-block;

    font-family:50px "Roboto", "Helvetica Neue", sans-serif;
    font-weight: 900;
    position: absolute;
    left:725px;
}

#menu-container button{
    display:inline-block;
    width:130px;
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    color: var(--dark-color-a);
    border: 0;
    font-size: 25px;
    display: inline-block;
}

.signin {
    position: relative;
    left:1400px;
    background-color: white;
    font-size: 9px;
    height: fit-content;
    width: fit-content;
}


.lawyers-title {
    text-align: center;
}

.lawyer-box {
    overflow:scroll;
    width: fit-content;
    height: 550px;
    /*** let outer box move to the center ***/
    margin: 0 auto;
}

.lawyer-container {
    justify-content: center;
    text-align: center;
    height: 150px;
}

.content-section {
    /*** lets 2 element display in same line ***/
    display: flex;
    width: fit-content;
}

.lawyer {
    width: 350px;
    height: 130px;
    text-align: center;
    display: block;
    border:1px solid black;
}

.actionCell {
    color: #9A75F0; 
    float: right;
    size:5px;
    height: fit-content;
}


.add-request {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}




