<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper">
    <div id="menu-container">
        <button id="back" (click)="requestsPage()" >
          <i class="fa fa-chevron-circle-left" aria-hidden="true" ></i>
        </button>
        <div>Profil</div>
        <button (click)="logout()"  id="logout" *ngIf="this.userService.display"><i class="fa fa-sign-out" aria-hidden="true" ></i></button>
    </div>
</div>

<br>

<div class="profile-container">
  <mat-card>
      <mat-card-header>
         <div mat-card-avatar>
           <img class="header-image">
         </div>
         <mat-card-title class="name">
            {{this.userService.getProfilToDisplay().getFullName() }}
         </mat-card-title>
         <mat-card-subtitle>
            <div class="contact">Contact Info: </div>
            &nbsp;
            <div class="contact-info">
               {{ this.userService.getProfilToDisplay().getUseremail() }} &nbsp;   {{ this.userService.getProfilToDisplay().getPhoneNumber() }}
            </div>
         </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
         <h3>Bio:</h3>
         <div>
            {{ this.userService.getProfilToDisplay().getBio() }}
         </div>
         <br>
         <h3>current position:</h3>
         <div>
            {{ this.userService.getProfilToDisplay().getCposition() }}
         </div>
         <br>
         <h3>skills:</h3> 
         <ul>
          <li *ngFor="let skill of this.userService.getProfilToDisplay().getSkills()">{{ skill }}</li>
         </ul>
         <br>
        </mat-card-content>
  </mat-card>
  <br>
  <button #editButton mat-button class="edit"  (click)="openEditProfil()" [disabled]="!this.userService.display" *ngIf="this.userService.display">Edit Profil</button>
</div>